html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  font-family: var(--font-family);
}

:root {
  --font-family: "Karla", sans-serif;
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-border {
  background: linear-gradient(
    115deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3),
    var(--grad-color4),
    var(--grad-color5)
  );
  padding: 2px;
}

.button {
  border: none;
  background: var(--btn-bg);
  color: var(--btn-color);
  padding: 1em 1.5em;
  font-family: inherit;
  letter-spacing: 0.1em;
}

.button-border:hover {
  background: linear-gradient(
    230deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3),
    var(--grad-color4),
    var(--grad-color5)
  );
}

.button-border:hover button {
  color: var(--btn-color-hover);
  padding: 1.1em 1.6em;
  transition: 0.4s ease;
}

/* button {
  font-family: "Karla";
  font-size: 2rem;
  color: #868585;
  padding: 30px 60px;
  position: relative;
  border-radius: 2px;
  border: none;
  background: var(--btn-bg);
}

button::before {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  right: -3px;
  left: -3px;
  background: linear-gradient(
    115deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3),
    var(--grad-color4),
    var(--grad-color5)
  );
  border-radius: 4px;
  z-index: -1;
  transition: 0.4s ease;
}

button:hover {
  font-size: 2.25rem;
  color: #fff;
}

button:hover::before {
  background: linear-gradient(
    115deg,
    var(--grad-color5),
    var(--grad-color4),
    var(--grad-color3),
    var(--grad-color2),
    var(--grad-color1)
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
